.disabled{
    pointer-events: none;
}

.disabled .dgbdc-day span{
    color: #ddd;
}

.disabled .dgbdc-day span{
    background: #fff!important;
}

.highlight .dgbdc-day span{
    background: #efdbca;
}

.highlight-blue .dgbdc-day span{
    background: #86aadf;
}

.highlight-blue-range .dgbdc-day span{
    background: #aec6ea;
}