.disabled{
    pointer-events: none;
}

.disabled .dgbdc-day span{
    color: #ddd;
}

.disabled .dgbdc-day span{
    background: #fff!important;
}

.highlight .dgbdc-day span{
    background: #efdbca;
}

.highlight-green .dgbdc-day span{
    background: #d4f9cb;
}

.highlight-green-range .dgbdc-day span{
    background: #d4e2cb;
}