.disabled{
    pointer-events: none;
}

.disabled .dgbdc-day span{
    color: var(--date-grid-disabled-text);
}

/* This avoids the current day being highlighted in the end date section */
.disabled .dgbdc-day span{
    background: var(--date-grid-disabled-background)!important;
}

.highlight .dgbdc-day span{
    background: var(--date-grid-today-highlight);
}

.highlight-blue .dgbdc-day span{
    background: var(--date-grid-selection);
}

.highlight-blue-range .dgbdc-day span{
    background: var(--date-grid-selection-range);
}