h1 {
    letter-spacing: 1px;
    margin: 0;
  }

h4 {
    margin: 0;
    text-transform: uppercase;
  }
  
.accountList {
    text-align: center;
    border: 1px 0 solid;
    display: flex;
    flex-direction: column;
}

.accountListItem {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 20px 0;
  }

.accountListItem li {
    cursor: pointer;
    background-image: linear-gradient(180deg, #c9d9f1, #1a4482);
    box-shadow: var(--box-shadow);
    color: #dedede;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
  }

  .accountListItem :hover {
    background-image: linear-gradient(180deg, #b7d5f5, #5990ca);
    color: #fff;
  }

.totalDisplay {
    background-image: linear-gradient(180deg, #c9d9f1, #1a4482);
    color: #fff;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border-style: groove;
    font-weight: bold;
    cursor: default;
  }