#sbar .pro-sidebar {
  width: 15vw;
  min-width: 15vw;
  color: var(--sidebar-text);
}

#sbar .pro-sidebar-inner{
  background-color: var(--sidebar-background);
}

#sbar .pro-sidebar-header p{
margin-left: 5px;
    font-size: 1.25em;
}

#sbar .pro-sidebar-header .icon{
    font-size: 1.5em;
  }

#sbar .pro-sidebar-header div{
  display:flex; 
  flex-direction: row; 
  justify-content: space-between;
  }

#sbar .pro-menu-item:hover {
  background-image: linear-gradient(180deg, var(--sidebar-item-hover-grad1), var(--sidebar-item-hover-grad2));
  color: var(--sidebar-hover-text);
}

.selSidebarListItem {
  background-image: linear-gradient(180deg, var(--selected-acct-grad1), var(--selected-acct-grad2)) !important;
}