@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --background-color: #f7f7f7;
  --input-border: #dedede;
  --form-background-color: #f7f7f7;
  --input-text: #444;
  --input-background-color: #f2f2f2;
  --input-placeholder: #999;
  --title-background: #2465a9;
  --title-text: #ddd;
  --tooltip-background: #333;
  --selected-acct-grad1: #65b6e6;
  --selected-acct-grad2: #1d5663;
  --divider: #4691d2;

  /* date grid variables */
  --date-grid-title: #2465a9;
  --date-grid-text: #444;
  --date-grid-text-hover-background: #d7e3f4;
  --date-grid-text-hover: #444;
  --date-grid-disabled-text: #ddd;
  --date-grid-disabled-background: #f7f7f7;
  --date-grid-today-highlight: #efdbca;
  --date-grid-selection: #86aadf;
  --date-grid-selection-range: #aec6ea;

  /* table heading gradients */
  --trans-table-header-grad1: #fbeeef;
  --trans-table-header-grad2: #f0bcc0;
  --expense-grad1: #da5863;
  --expense-grad2: #97212b;
  --income-grad1: #80cfdb;
  --income-grad2: #2d909f;
  --transfer-grad1: #d9d3d6;
  --transfer-grad2: #ada0a6;

  /* transaction group gradients */
  --group3-grad1: #cedbf2;
  --group3-grad2: #4d7bd1;
  --group2-grad1: #8dabe2;
  --group2-grad2: #193261;
  --group1-grad1: #4d7bd1;
  --group1-grad2: #081120;

  /* button colors */
  --button-background-grad1: #c9d9f1;
  --button-background-grad2: #1a4482;
  --button-hover-grad1: #b7d5f5;
  --button-hover-grad2: #5990ca;
  --button-text: #dedede;
  --button-hover-text: #fff;
  --button-disabled-text: #bbb;

  /* menu icon */
  --menu-background: #1b476e;
  --menu-icon: #dee4ed;
  --menu-icon-disabled: #8a9fc1;
  --menu-icon-hover: #fff;
  --menu-icon-hover-background: #75bee6;
}

/* dark mode */
.dark {
  --background-color: #1c2e40;
  --input-border: #1b476e;
  --form-background-color: #1b476e;
  --input-text: #ddd;
  --input-background-color: #517ca3;
  --input-placeholder: #909fb1;

  /* date grid variables */
  --date-grid-title: #ddd;
  --date-grid-text: #ddd;
  --date-grid-text-hover-background: #a9dbef;
  --date-grid-text-hover: #aaa;
  --date-grid-disabled-text: #777;
  --date-grid-disabled-background: #1b476e;
  --date-grid-today-highlight: #2465a9;
  --date-grid-selection: #26a3d3;
  --date-grid-selection-range: #53b7df;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "avenir next", "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

label {
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'],
input[type='date'],
textarea,
select {
  background-color: var(--input-background-color);;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  display: block;
  padding: 10px;
  width: 100%;
  color: var(--input-text);
  font-family: sans-serif;
} 

input[type='text'],
input[type='number'],
textarea,
select {
  font-size: .75rem;
} 

input[type='date'],
select {
  font-size: .75rem;
} 

textarea {
  resize: vertical;
  overflow-wrap: break-word;
}

input[type="text"]::placeholder,
textarea::placeholder,
input[type="number"]::placeholder {
  font-size: .75rem;
  color: var(--input-placeholder);
  font-family: sans-serif;
}